body {
    background: #f7f7f7;
}

/* 头部 start*/

header {
    width: 100%;
    height: 100px;
}

.header-left {
    width: 10%;
    padding: 1%;
}

.header-main {
    width: 80%;
}

.header-main h2 {
    height: 100px;
    text-align: center;
    font-size: 28px;
    line-height: 100px;
    font-weight: 400;
}

.header-right {
    width: 10%;
    padding: 1%;
}

/* 引入的图标 start*/

.header-left .icon-fanhuizuojiantou,
.header-right .icon-kefu1 {
    font-size: 50px;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 引入的图标 end*/
/* 头部 end*/
/*页面nav start*/

nav {
    margin-top: 0.8%;
    margin-bottom: 3%;
    padding: 4%;
    text-align: center;
}

.row {
    height: 300px;
    display: flex;
    /*伸缩布局*/
    flex-direction: row;
    justify-content: space-between;
}

.row .a {
    width: calc(50% - 5px);
    height: 100%;
    background: #f6f6f6;
    cursor: pointer;
    border: 2px solid #eeeeee;
    position: relative;
}

.row .a .b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row .a h4 {
    font-size: 36px;
    /*未选中时*/
    color: #363636;
}

.row .a .b1 span,
.row .a .b2 span {
    display: inline;
    font-size: 20px;
    /*未被选中时*/
    color: #bdbdbd;
}

/*被点击时*/

#box2 .row .focus {
    border: 2px solid #f6a69a;
    background-color: #fff8f6;
}

#box2 .row .focus h4 {
    color: #fd4d57;
}

#box2 .row .focus span {
    color: #ffa6a7;
}
/*页面nav end*/

/* 页面section部分 start */
/*切换显示效果*/

#box3 .hd .section-hd {
    width: 336px;
    height: 150px;
}

#box3 .hd .show {
    display: block;
}

#box3 .hd .hide {
    display: none;
}

#box3 .hd h4 {
    font-size: 36px;
    color: #363636;
    line-height: 150px;
    margin-left: 20px;
    display: inline;
}

#box3 .hd span {
    display: inline;
    font-size: 18px;
    color: #9b9b9b;
}

#box3 .hd em {
    display: inline;
    font-size: 18px;
    color: #fd4d57;
}

/*高级版显示效果start*/

#box3 .section-bd .show li {
    width: 18%;
    height: 150px;
    margin-left: 1%;
    float: left;
    margin-right: 1%;
    margin-bottom: 20px;
}

#box3 .section-bd .show li .first {
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 9;
    display: block;
}

/*高级版显示效果end*/
/* 圆形 start */

.section-bd .circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fdeae8;
    transition: all 0.4s;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.section-bd .circle:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}

.circle .icon-yinlewenjian,
.circle .icon-zhuanjiguangpan,
.circle .icon-kuzi,
.circle .icon-gouwu,
.circle .icon-yifu {
    color: #fd4d57;
    font-size: 48px;
}

/* 圆形 end */

ul .section-title {
    width: 50px;
    text-align: center;
    font-size: 16px;
    color: #575757;
    margin: 0 auto;
}

/*背景层*/

#box #popLayer {
    display: none;
    background-color: #b3b3b3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    /* 只支持IE6、7、8、9 */
}

/*弹出层*/

#popBox {
    display: none;
    background-color: #fff;
    z-index: 11;
    width: 400px;
    height: 400px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#popBox .content {
    padding: 8%;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}

#popBox .content h4 {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    font-weight: 400;
    color: #363636;
}

#popBox .content p {
    padding-top: 8%;
    color: #666666;
    font-size: 20px;
}

#popBox .close {
    position: absolute;
    top: 120%;
    left: 45%;
}

/*关闭按钮*/

.close a {
    text-decoration: none;
    color: #2D2C3B;
}

.close .icon-chazishanchudaibiankuang {
    color: #fff;
}

/* 页面section部分 end */